<p> Olá {{user.name}}, </p>

<p>Abaixo esta o link para confirmar seu cadastro:</p>

<p>
    <a href="{{SignupUrl}}">Clique Aqui para confirmar seu cadastro</a>
</p>

<p> Conte conosco! </p>

<p> Equipe de Suporte, TriPoints </p>
